
.u-section-1 .u-sheet-1 {
  min-height: 695px;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  background-image: none;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 170px 64px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 4px;
  margin: 64px auto 60px;
  padding: 15px 30px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
    margin-top: 118px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 274px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 5px;
  }
}